
@{
    ViewBag.Title = "AddToCart";
}

<h2>AddToCart</h2>

<h2>Selected Products</h2>
@if (Model != null && Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price (tk)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.p_name</td>
                    <td>@product.p_price tk</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products selected for the cart.</p>
}
