@model List<TASK2.EF.Product>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.p_name</td>
                    <td>@product.p_price tk</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products in the cart.</p>
}

<a class="btn btn-danger" href="/home/Buy">Continue Shopping</a>
