@{
    ViewBag.Title = "Education Details";
}
<h2>@ViewBag.Title.</h2>
<ul>
    <li>
        <b>SSC</b>
        <ul>
            <li>Institute: K.M. Latif Institution</li>
            <li>Year: 2017</li>
            <li>Group: Science</li>
            <li>Result: 4.88</li>
        </ul>
    </li>
    <li>
        <b>HSC</b>
        <ul>
            <li>Institute: Ideal College, Dhamondi</li>
            <li>Year: 2019</li>
            <li>Group: Science</li>
            <li>Result: 4.50</li>
        </ul>
    </li>
</ul>
