
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<style>
    table {
        border-collapse: collapse;
        width: 60%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
</style>

<table>
    <tr>
        <th>Course</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>OOP1</td>
        <td>Library Management</td>
        <td>Description 1</td>
    </tr>
    <tr>
        <td>OOP2</td>
        <td>Cinema Ticket Booking</td>
        <td>Description 2</td>
    </tr>
    <tr>
        <td>Web Technology</td>
        <td>Online Movie Ticket Booking</td>
        <td>Description 3</td>
    </tr>
</table>